table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    color: black;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
  }
  
  td {
    background-color: #f3f4f6;
    border-bottom: 1px solid #9f1212;
  }
  
  
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  